@media screen and (max-width: 904px) {
    .afterload {
      background: var(--background-embed);
    }
    .avatar {
      margin-top: 30px;
    }
    .card {
      width: 700px
    }
    .containerSquare {
      width: 700px;
    }
    .square + .square {
      margin-top: 5px;
    }
    h2 {
      margin-top: 30px;
    }
  }
  @media screen and (max-width: 727px) {
    .card {
      width: 600px
    }
    .containerSquare {
      width: 600px;
    }
  }
  @media screen and (max-width: 620px) {
    .card {
      width: 500px
    }
    .containerSquare {
      width: 500px;
    }
  }
  @media screen and (max-width: 520px) {
    .card {
      width: 450px
    }
    .containerSquare {
      width: 450px;
    }
  }
  @media screen and (max-width: 473px) {
    .card {
      width: 420px
    }
    .containerSquare {
      width: 420px;
    }
  }
  @media screen and (max-width: 441px) {
    .card {
      width: 205px
    }
    .containerSquare {
      width: 205px;
    }
  }
  @media screen and (max-height: 735px) {
    .avatar {
      display: none;
    }
    h2 {
      margin-top: 30px;
    }
    svg {
      transform: translate(10%, -0%);
    }
  }